/* navbar styling */

nav{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

nav #inner-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px 24px 12px;
}

#navbrand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 4rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.15rem;
    border-radius: 4px;
}


/* table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
